body{
   margin: 10px;
   font-family: 'Quicksand', sans-serif;
font-family: 'Red Hat Mono', monospace; 
position: relative;
}



form{
    width: 190px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    right: 25px;
    border: solid 8px yellow;
    background-color: yellow;
}

.btnform{
background-image: url(image/lupa.png);
background-size: contain;
width: 20px;
height: 20px;
}

.text{
    position: relative;
    margin-top: 5px;
    
}

.butt{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url(image/pokeball.png);
    background-size: contain;
    position: fixed;
    top: -5px;
    left: -5px;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}
.card{
    width: 400px;
    min-height: 400px;
    background-color: rgba(247, 176, 176, 0.459);
    display: flex;
    flex-wrap: wrap;
    border: 20px solid palevioletred;
    border-radius: 20px;
    margin: 10px;
}
.image > img { 
    width: 150px;
    height: 150px;
     margin: 10px;
     border-radius: 20px;
     border: 10px solid papayawhip;
}

.properties{
    flex:1;
    margin: 10px;
}
.description{
    margin: 15px;
    border-top: 20px solid palevioletred        ;
}

h3{
    text-align: center;
}


